---
---
@import "{{ site.theme }}";

h1:first-of-type { display: none; }

// 2. Make all tables invisible (no borders, no backgrounds)
.markdown-body table, 
.markdown-body td, 
.markdown-body th, 
.markdown-body tr {
    border: none !important;
    background-color: transparent !important;
}